header {
  @include span-columns(12);
  background-image: url("../images/startjourneysanstext.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: -60px 0px;
  padding-top: 15%;
  
}